# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native builds
/ios/
/android/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Environment / secrets
.env
.env.local
.env*.local

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db